$max-width: 1200px;
$gutter: 20px;
$svartur: #000;
$grar: #999;
$dokkGrar: #aaa;
$ljosGrar: #ccc;
$ljosGraenn: #2d2;
$dokkGraenn: #1a1;
$gulur: #fcffd2;
$bleikur: #cc9694;
$font-main: Lora, Times New Roman, serif;
$font-title: Roboto, Courier New, monospace;
